link(
  href='https://fonts.googleapis.com/css?family=Poiret+One|Inconsolata:400,700'
  rel='stylesheet'
  type='text/css'
)
link(
  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
  rel='stylesheet'
)
link(
  href='/style/style.min.css'
  rel='stylesheet'
)
