include ./_mixins.jade

- var placeholderText = 'Bacon ipsum dolor amet jowl biltong pig bresaola flank short ribs beef ribs pork belly pork chop doner frankfurter drumstick. Tail landjaeger rump prosciutto. Turducken ham hock tri-tip frankfurter, ground round andouille sirloin prosciutto doner jerky drumstick swine. Swine drumstick kielbasa sirloin spare ribs strip steak prosciutto leberkas doner corned beef meatloaf cupim kevin. Flank cow leberkas, sausage shoulder kielbasa chuck kevin.'

html
  head
    title= 'mtgibbs.xyz'
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    include ./_styles.jade
  body
    nav(class='navbar navbar-default navbar-dark')
      div.container-fluid
        div.navbar-header
          button(
            type='button'
            class='navbar-toggle'
            data-toggle='collapse'
            data-target='#navbar'
          )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') mtgibbs.xyz
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='https://github.com/mtgibbs')
                | GitHub 
                i.ion.ion-social-github
            li
              a(href='https://www.linkedin.com/in/mtgibbs21')
                | LinkedIn 
                i.ion.ion-social-linkedin
            li
              a(href='mailto:matt@mtgibbs.xyz')
                | Email 
                i.ion.ion-ios-email
    // end nav
    
    div.container
      div.jumbotron.code-hero
        div.row
          div.col-md-12.code-typing-container
            code#typingThing
            
        span.hero-title Hi.  I'm Matt.
        div.hero-shadow-panel
        
      div.info-cells
        +info-cell('ion-code', 'Developer', placeholderText)
        +info-cell('ion-ios-game-controller-a-outline', 'Game Enthusiast', placeholderText)
        +info-cell('ion-quote', 'TODO', placeholderText)
    
    include ./_scripts.jade
        
        
