include ./_mixins.jade

html
  head
    title= 'mtgibbs.xyz'
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    )
    include ./_styles.jade
  body
    nav(class='navbar navbar-default navbar-dark')
      div.container-fluid
        div.navbar-header
          button(
            type='button'
            class='navbar-toggle'
            data-toggle='collapse'
            data-target='#navbar'
          )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') mtgibbs.xyz
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='https://github.com/mtgibbs')
                | GitHub 
                i.fa.fa-github-square
            li
              a(href='https://www.linkedin.com/in/mtgibbs21')
                | LinkedIn 
                i.fa.fa-linkedin-square
            li
              a(href='mailto:matt@mtgibbs.xyz')
                | Email 
                i.fa.fa-envelope-square
    // end nav

    div.container
      div.jumbotron.code-hero
        div.row
          div.col-md-12.code-typing-container
            code#typingThing

        span.hero-title Hi.  I'm Matt.
        div.hero-shadow-panel

      div.info-cells
        div.col-md-4
          a(href='https://github.com/mtgibbs')
            i.fa.fa-code
          h2 Developer
          p Actually more of just a problem solver.  I am a full stack developer
            | currently working primarily in C#, Typescript, and javascript on 
            | Hewlett-Packard Enterprise's #[a(href='https://hpfod.com') Fortify on Demand] 
            | product.  My interests lie in web technologies, user experience, and most
            | recently the "Internet of Things."  I've worked in several
            | industries, from insurance to software security, and in several
            | problem domains like high volume transaction processing systems
            | and web interfaces.
            
        div.col-md-4
          a(href='http://www.twitch.tv/pwnysenpai/profile')
            i.fa.fa-gamepad
          h2 Game Enthusiast
          p Games are what developed my passion for software.  They often
            | provide scenarios that let the user dissect patterns, iterate on
            | solutions, and feel the rush of accomplishment when they have
            | finally executed or arrived at the solution.  All within a framework
            | of defined rulesets and a tight feedback loop.  So it's not really
            | a surprise that someone with an interest in software would also
            | have an interest in games.
          
        div.col-md-4
          a(href='http://blog.mtgibbs.xyz')
            i.fa.fa-rss
          h2 Blog
          p #[a(href='http://blog.mtgibbs.xyz') Here] is the lack of a collection of thoughts that I made because
            | I was interested in seeing how Jekyll worked.  It exists solely
            | for practice with something new and potentially for
            | making ideas concrete by putting them into words.

    include ./_scripts.jade
